.inner {
    max-width: 1170px;
    margin: 0 auto;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.main_visual {
    padding: 240px 0;
    background: #333;
}

.main_visual h2 {
    font-size: 56px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 16px;
}

.main_visual p {
    color: #fff;
}

.footer {
    padding: 40px 0;
    text-align: center;
}